alembic==0.8.3
Babel==2.1.1
backlash==0.1.0
Beaker==1.7.0
breadability==0.1.20
cffi==1.7.0
characteristic==14.3.0
chardet==2.3.0
cliff==1.15.0
cmd2==0.6.8
crank==0.8.0
cryptography==1.5
cssselect==0.9.1
decorator==4.0.4
docopt==0.6.2
elasticsearch==2.4.0
elasticsearch-dsl==2.1.0
enum34==1.0.4
fasteners==0.14.1
feedparser==5.2.1
FormEncode==1.3.0
future==0.15.2
gearbox==0.1.1
Genshi==0.7
geopy==1.11.0
gitdb==0.6.4
GitPython==1.0.1
idna==2.0
ipaddress==1.0.14
lxml==3.4.4
Mako==1.0.2
MarkupSafe==0.23
monotonic==1.2
oauthlib==1.1.2
PasteDeploy==1.5.2
pbr==1.8.1
prettytable==0.7.2
psycopg2==2.6.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
# pyjobs_crawlers
git+https://github.com/BenoitEchernier/crawlers.git@master
pyOpenSSL==0.15.1
pyparsing==2.0.3
python-dateutil==2.4.2
python-editor==0.4
python-slugify==1.1.4
python-twitter==3.1
pytz==2015.6
PyYAML==3.11
queuelib==1.4.2
repoze.lru==0.6
repoze.who==2.2
requests==2.8.1
requests-oauthlib==0.6.2
Scrapy==1.0.3
service-identity==14.0.0
six==1.10.0
smmap==0.9.0
speaklater==1.3
sprox==0.9.8
SQLAlchemy==1.0.8
stevedore==1.9.0
Tempita==0.5.2
tg.devtools==2.3.7
tgext.admin==0.6.6
tgext.crud==0.7.4
transaction==1.4.4
TurboGears2==2.3.9
tw2.core==2.2.3
tw2.forms==2.2.3
tw2.jqplugins.select2==0.1.6
tw2.jquery==2.2.0.2
Twisted==15.4.0
tzlocal==1.2.2
unicodecsv==0.14.1
Unidecode==0.4.19
urllib3==1.16
w3lib==1.12.0
WebHelpers==1.3
WebHelpers2==2.0
WebOb==1.6.1
WebTest==1.4.3
zope.interface==4.1.3
zope.sqlalchemy==0.7.6
tzlocal
